@import url('https://fonts.googleapis.com/css?family=Marcellus');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-content: center;
  font-family: 'Marcellus', serif;
}

.wrapper {
  margin: 0 auto;
  border: 1px solid black;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 10px 12px 5px rgba(0,0,0,0.1);
}

/*
===========================
Header
===========================
*/

.header {
  padding: 20px;
  width: 450px;
  text-align: center;
}

/*
===========================
Clock Face
===========================
*/

.clock-face {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.icons img {
  height: 30px;
  width: 30px;
}

#workOrBreak {
  padding-bottom: 15px;
}

.working {
  color: red;
}

.breakTime {
  color: green;
}

/*
===========================
Dials
===========================
*/

.knobs {
  border-top: 1px solid black;
  height: 80px;
  display: flex;
  flex: 1;
}

.knobs > div {
  width: 50%;
  text-align: center;
}

.knob-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 18px;
  width: 18px;
}

/*
===========================
Typography
===========================
*/

h1 {
  font-size: 70px;
  font-family: 'PT Mono', monospace;
  margin: 0;
  padding: 12px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3px;
}

h3 {
  font-size: 30px;
  font-family: 'PT Mono', monospace;
}

h4 {
  padding: 9px;
  font-weight: 700;
}

a {
  margin-left: 9px;
  margin-right: 9px;
}
